.main {
    display: flex;
    flex-direction: column;

    > .header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .btn-container{
            display: flex;
            gap: 10px;

            > .btn{
                display: flex;
                align-items: center;
                gap: 5px;
                min-width: max-content;
                padding: 5px 10px;
                font-size: 1rem;
                border: none;
                border-radius: .5em;
                color: var(--selected-text-color);
                cursor: pointer;
                background-color: var(--main-color);
            }
            > .btn.btn-secundario{
                background-color: var(--border-color);
                color: var(--primary-text-color);
            }
        }
    }
}