.background-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.product-selector{
    background-color: var(--selected-text-color);
    border: 1px solid var(--border-color);
    min-height: 80%;
    > .product-header{
        > .title-header{
            display: flex;
            justify-content: space-between;
            > h3{
                font-size: 1.75rem;
                line-height: 1.2;
            }
        }
        > .product-search{
            background-color: aqua;
            > .search{
                color: var(--dark-text-color);
                display: block;
            }

            > .product-input{
                padding: 6px 10px;
                border: 1px solid var(--border-color);
                background-color: var(--main-bg-color);
                border-radius: 8px;
                font-size: .75rem;
            }
        }
    }
}