* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

.main{
  flex: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

