aside {
    width: 300px;
    height: 100vh;
    padding:  0 10px;
    color: #252525;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.module {
    display: flex;
    gap: 10px;
    color: #252525;
    background-color: #f0f0f0;
    margin: 5px 0;

    &:hover {
        background-color: black;
        color: #fff;
    }


}

.module.active {
    background-color: #00ff11;
}