aside {
    width: 250px;
    height: 100vh;
    padding:10px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    text-align: left;
    border-right: 2px solid var(--border-color);

    > header{
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--main-color);

        > h2{
            font-size: 1.125rem;
            color: inherit;
        }

        > .carIcon{
            width: 1.625rem;
            height: auto;
            stroke: var(--main-color);
        }
    }

    > section {
        
        text-decoration: none;
        > h3{
            
            color: var(--text-color);
            font-size: 1rem;
        }
        display: flex;
        flex-direction: column;
        gap: 5px;


        .modules {
            text-decoration: none;
            color: var(--dark-text-color);
            font-size: 1rem;
            line-height: 1.5;
            padding: 0 0 0 10px;
            border-radius: 8px;

            &.active{
                background-color: var(--selected-color);
                color: var(--selected-text-color);
            }
            &:hover{
                background-color: var(--hover-bg-color);
            }
        }
    }
}
